body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

body {
  display: flex;
  flex-direction: column;

}
.midder {
  display: flex;
  flex: 1;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
  justify-content: flex-start;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}


.content {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 300px;
  gap: 16px;
  padding: 16px;
}

li {
  padding-bottom: 16px;
  margin: 0;
}
.footer {
  justify-content: flex-end;
  text-align: center;
  align-content: center;
}

.header {
  display: flex;
  flex: 1;
  flex-grow: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding: 16px;
}